@using System.Web.UI.WebControls
@using OnlineStore.Controllers
@model IEnumerable<OnlineStore.Models.Product>
<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>


<h2>@ViewBag.category</h2>

<div id="filterPanel">
    @Html.ActionLink("Back to cateogries", "ShopByCategories","Home")
    <br/>
    <span>Minimum Price: </span>
    <div id="min-price-selector"></div>
    <div id="minPrice">@ViewBag.minPrice</div>
    <br/>
    <span>Maximum Price: </span>
    <div id="max-price-selector"></div>
    <div id="maxPrice">@ViewBag.maxPrice</div>
    <div id="filters"></div>
    <span>Sort by: </span><br/>
    <select id="order-by" onchange="filterProducts()">
        <option value="name,asc">Name, Ascending</option>
        <option value="name,desc">Name, Descending</option>
        <option value="price,asc">Price, Ascending</option>
        <option value="price,desc">Price, Descending</option>
    </select><br />
</div>

<div id="products-panel">
    @foreach (var item in Model)
    {
        var shortProductName = item.ProductName;

        if (item.ProductName.Length > 100)
        {
            shortProductName = item.ProductName.Substring(0, 100) + " (...)";
        }
        string imgSrc = "https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/" + item.ImageSource;
        string[] descriptionListItems = item.Description.Split(';').ToArray();
        double price = item.Price;
        <div class="floated_img">
            <a href="/Products/Details/@item.ProductID">
            <img style="-webkit-user-select: none" src=@imgSrc>
                </a>
            <p>@Html.ActionLink(shortProductName, "Details", "Products", new {id = item.ProductID}, null)</p>
            <p>@price $</p>
        </div>
    }
</div>

<script>
    var filters = @Html.Raw(Json.Encode(@ViewBag.filters));
    var category= '@(ViewBag.category)';
    var searchTerms= '@(ViewBag.searchTerms)';



    $(window).load(drawFilters());

    function drawFilters() {
        console.log('drawing filters');
        $('#min-price-selector').empty();
        let minPriceSelector = $('<input>',
        {
            type: 'range',
            id: 'min-price-slider',
            min: '@(ViewBag.minPrice)',
            max: '@(ViewBag.maxPrice)',
            value:'@(ViewBag.minPrice)',
        });

        $('#max-price-selector').empty();
        let maxPriceSelector = $('<input>',
        {
            type: 'range',
            id: 'max-price-slider',
            max: '@(ViewBag.maxPrice)',
            min: '@(ViewBag.minPrice)',
            value:'@(ViewBag.maxPrice)',
        });

        $('#min-price-selector').append(minPriceSelector);
        $('#max-price-selector').append(maxPriceSelector);


        if($('#filters').is(':empty')){
            for (filter of filters) {
                let filterCheckbox = $('<input>',
                {
                    type: 'checkbox',
                    class: 'filterCheckbox',
                    value: filter,
                    onchange: filterProducts()
                });
                let filterName = $('<span>',
                {
                    class: 'filterName',
                    text: filter
                })
                $('#filters').append(filterCheckbox);
                $('#filters').append(filterName);
                $('#filters').append('<br>');
            };
        }
    }

    $(function(){
        setInterval(changePriceRange, 300);
    });
    $('#max-price-slider').change(changePriceRange);
    $('#max-price-slider').change(filterProducts);
    $('#min-price-slider').change(changePriceRange);
    $('#min-price-slider').change(filterProducts);
    $('.filterCheckbox').change(filterProducts);

    function changePriceRange() {
        console.log('changeing price range');
        $('#minPrice').text($('#min-price-slider').val());
        $('#maxPrice').text($('#max-price-slider').val());
        $('#min-price-slider').prop('max', $('#max-price-slider').val());
        $('#max-price-slider').prop('min', $('#min-price-slider').val());
    }


    function filterProducts() {
        var checkedFilters = [];
        $("input:checkbox[class=filterCheckbox]:checked")
            .each(function() {
                console.log($(this).val());
                checkedFilters.push($(this).val());
            });


        console.log($('#min-price-slider').val());
        console.log($('#max-price-slider').val());


        $.ajax({
            type: "POST",
            traditional: true,
            url: "../Products/BrowseProducts",
            data: {
                category: category,
                checkedFilters: checkedFilters,
                searchTerms: searchTerms,
                minPriceInput: $('#min-price-slider').val(),
                maxPriceInput: $('#max-price-slider').val(),
                orderBy:$("#order-by").val()
            },
            success: function(response) {
                let returnedProducts = $(response).find('#products-panel').html();
                $("#products-panel").html(returnedProducts);
            }
        });
    }


</script>
