@model OnlineStore.Models.Product
@using Microsoft.AspNet.Identity
@using OnlineStore.Models;
@{
    OnlineStorePSGMEntities db = new OnlineStorePSGMEntities();
}

@{
    ViewBag.Title = "Details";
    string imgSrc = "https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/" + Model.ImageSource;
    string[] descriptionListItems = Model.Description.Split(';').ToArray();
    ViewBag.ProductName = Model.ProductName;

    if (User.Identity.IsAuthenticated)
    {
        var aspUserName = User.Identity.GetUserName();
        var dbUser = db.Members.Where(m => m.Username == aspUserName).First();
    }

}

<script>
    $("#myLink").click(function(e){
        
        e.preventDefault();

        $.ajax({

        success: function(){
            alert("Value Added");  // or any other indication if you want to show
        }

    });

    });
</script>
<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <ul>
                @foreach (var li in descriptionListItems)
                {
                    string actualLi = li.Substring(4, li.Length - 9);
                    <li>@actualLi</li>
                }
            </ul>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSource)
        </dt>

        <dd>
            <img style="-webkit-user-select: none" src=@imgSrc>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Username)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.Identity.GetUserName() == Model.Member.Username)
        {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }); @Html.Raw(" | ")
          @Html.ActionLink("Delete", "Delete", new { id = Model.ProductID }); @Html.Raw(" |")
        }
        }
  
   
    @Html.ActionLink("Back to " + @Model.ProductType, "FilterProducts", "Products", new { category = @Model.ProductType }, null) |
    @Html.ActionLink("ADD TO CART", "AddToCart", null, new { id = "myLink" })
</p>
