@using System.Web.UI.WebControls
@using OnlineStore.Controllers
@model IEnumerable<OnlineStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("FilterProducts", "Products"))
{
    <input type="text" name="minPrice" value="@ViewBag.minPrice"/>
    <input type="text" name="maxPrice" value="@ViewBag.maxPrice"/>
    <ul name="filters">
        <li><input type="checkbox" name="smart"/>Smart</li>
        <li><input type="checkbox" name="curved"/>Curved</li>
        <li><input type="checkbox" name="fourk"/>4K Ultra HD</li>
    </ul>
    <input type="submit" value="Filter"/>
}

@foreach (var item in Model)
{
    string imgSrc = "https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/" + item.ImageSource;
    string[] descriptionListItems = item.Description.Split(';').ToArray();
    double price = item.Price;
    <div class="floated_img">
        <img style="-webkit-user-select: none" src=@imgSrc>
        <p>@Html.ActionLink(@item.ProductName,"Details","Products", new { id = item.ProductID }, null)</p>
        <p>@price $</p>
    </div>
}