@using System.Web.UI.WebControls
@using OnlineStore.Controllers
@model IEnumerable<OnlineStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("ListCategory", "Products"))
{
    <input type="text" name="minPrice" value="@ViewBag.minPrice"/>
    <input type="text" name="maxPrice" value="@ViewBag.maxPrice"/>
    <ul name="filters">
        <li><input type="checkbox" name="smart"/>Smart</li>
        <li><input type="checkbox" name="curved"/>Curved</li>
        <li><input type="checkbox" name="fourk"/>4K Ultra HD</li>
    </ul>
    <input type="submit" value="Filter"/>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.ActionLink(item.ProductName, "Details", "Products", new {id=item.ProductID}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSource)
        </td>
        <td>
            @Html.ActionLink(item.Member.Username, "Details", "Members", new {id=item.MemberID}, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
