@using OnlineStore.Models;
@section Scripts
{
    <script src="@Url.Content("~/Scripts/slider.js")"></script>
}
@{
    ViewBag.Title = "Home Page";
    OnlineStorePSGMEntities db = new OnlineStorePSGMEntities();
    var saleProducts = db.Products.OrderByDescending(p => p.Price).Take(3).ToList();
    var tablets = db.Products.Where(p => p.ProductType == "Tablets").ToList();
    var tvs = db.Products.Where(p => p.ProductType == "TV").ToList();
    var lenses = db.Products.Where(p => p.ProductType == "Camera Lenses").ToList();
    Random rnd = new Random();
    var randomTablet = tablets[rnd.Next(1, tablets.Count)];
    var randomTV = tvs[rnd.Next(1, tvs.Count)];
    var randomLens = lenses[rnd.Next(1, lenses.Count)];
}



<div class="jumbotron" style="width:1260px;">
    <div id="slider">
        <ul class="slides">
            <li class="slide"><a href="../Products/BrowseProducts?category=TV"><img src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/images/tvbanner.jpg" /></a></li>
            <li class="slide"><a href="../Products/BrowseProducts?category=Tablets"><img src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/images/tabletsbanner.jpg" /></a></li>
            <li class="slide"><a href="../Products/BrowseProducts?category=Camera%20Lenses"><img src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/images/cameralensesbanner.jpg" /></a></li>
            <li class="slide"><a href="../Products/BrowseProducts?category=TV"><img src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/images/tvbanner.jpg" /></a></li>
        </ul>
    </div> 
      
</div>

        <div class="row">
            <div class="col-md-4">
                <h2>Random tablet</h2>
                <div class="floated_img">
                    <a href="/Products/Details/@randomTablet.ProductID">
                        <img style="-webkit-user-select: none" src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/@randomTablet.ImageSource">
                        </a>
                        <p>@Html.ActionLink(@randomTablet.ProductName, "Details", "Products", new { id = randomTablet.ProductID }, null)</p>
                        <p>@randomTablet.Price $</p>
                        @Html.ActionLink("Shop tablets", "BrowseProducts", "Products", new { category = "Tablets" }, null)
</div>
            </div>

            <div class="col-md-4">
                <h2>Random camera lens</h2>
                <div class="floated_img">
                    <a href="/Products/Details/@randomLens.ProductID">
                        <img style="-webkit-user-select: none" src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/@randomLens.ImageSource">
                    </a>
                    <p>@Html.ActionLink(@randomLens.ProductName, "Details", "Products", new { id = randomLens.ProductID }, null)</p>
                    <p>@randomLens.Price $</p>
                    @Html.ActionLink("Shop camera lenses", "BrowseProducts", "Products", new { category = "Camera Lenses" }, null)
                </div>
            </div>

            <div class="col-md-4">
                <h2>Random TV</h2>
                <div class="floated_img">
                    <a href="/Products/Details/@randomTV.ProductID">
                        <img style="-webkit-user-select: none" src="https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/@randomTV.ImageSource">
                        </a>
                        <p>@Html.ActionLink(@randomTV.ProductName, "Details", "Products", new { id = randomTV.ProductID }, null)</p>
                        <p>@randomTV.Price $</p>
                        @Html.ActionLink("Shop TVs", "BrowseProducts", "Products", new { category = "TV" }, null)
</div>
            </div>
        </div>