@using System.Web.UI.WebControls
@using OnlineStore.Controllers
@using Microsoft.AspNet.Identity
@using OnlineStore.Models;
@model IEnumerable<OnlineStore.Models.Cart>
@{ 
    OnlineStorePSGMEntities db = new OnlineStorePSGMEntities();
}
@{
    ViewBag.Title = "MyCart";
    var aspUserName = User.Identity.GetUserName();
    var totalCount = Model.Select(c=>c.Quantity).Sum();
    var counter = 0;
    var totalPrice = Model.Select(c => c.Product.Price*c.Quantity).Sum();
}

<h2>@aspUserName 's Cart</h2>

<table class="table">
    <tr>
        <th>
            Product Number
        </th>
        <th>
            Product
        </th>
        <th>
            Seller
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            ImageSource
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        counter++;
        var product = db.Products.Where(p => p.ProductID == item.ProductID).First();
        var seller = db.Members.Where(m => m.MemberID == product.MemberID).First();
        string imgSrc = "https://raw.githubusercontent.com/Slupov/Online-Store-Teamwork-Project/master/OnlineStore/OnlineStore/product-images/" + product.ImageSource;

        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.ActionLink(product.ProductName, "Details", "Products", new {id = product.ProductID}, null) in @Html.ActionLink(product.ProductType, "BrowseProducts", "Products", new {category = product.ProductType}, null)
            </td>
            <td>
                @seller.Username
            </td>
            <td>
                @Html.DisplayFor(m => item.Quantity)            </td>
            <td>
                @Html.DisplayFor((modelItem => product.Price))$
            </td>
            <td>
                <div class="floated_img">
                    <img style="-webkit-user-select: none" src=@imgSrc>
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CartID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CartID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CartID })
            </td>
        </tr>
    }

</table>

<h2>Total count : @totalCount</h2>
<h2>Total price : @totalPrice</h2>

@Html.ActionLink("Buy all","BuyCart","Carts",new {memberID=Model.Select(c=>c.MemberID).FirstOrDefault()},null)